body{

    text-align: center;
    margin:0px
}

img{

    width: 100px;
    border-radius: 30px;
}
.hero-image {
    background-image: url("/images/joscity.jpg");
    height: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
    font-family: 'Roboto', sans-serif;
    

}
#Vist {

   background:#1D3557;
   border-radius:10px;
   padding: 4px 15px 3px 15px;
    color: #FFFFFF;
   font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
  
}


#Land {
    background: #457B9D;
    border-radius:10px;
    padding: 4px 15px 4px 15px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18.72px;
    color: #FFFFFF;

}
.middle{
    background: #F1FAEE;
    height: 343px;
    display: flex;
    justify-content:space-around;
    align-items: center;

    
    
}




.card {

    background: #FFFFFF;


}
.card2 {
background: #A8DADC;
display: flex;
border-radius: 20px;
margin:50px auto 50px auto;
width: 400px;
height: 240px;
padding: 23px 0px 23px 20px;
border-bottom: 3px solid black;


}
#cardpicture{
    width: 180px;
    height: 248.67px;
    border-radius:  2px;

}

